<div class="mobile-card card">
  <div class="card-header">
    <div class="top-icons">
      <span class="time-now fw-bold">{{ currentTime() | date : "hh:mm" }}</span>
      <div class="right-icons">
        <img src="assets/img/group-685.svg" alt="tel" />
        <img class="mx-2" src="assets/img/wifi-alt.svg" alt="wifi" />
        <img src="assets/img/battery-full.svg" alt="Battery" />
      </div>
    </div>
    <div class="bottom-content">
      <div class="image-contaner">
        <img src="assets/img/group-3301.svg" alt="group-3301" />
      </div>
      <p class="mb-0">communicate</p>
    </div>
  </div>
  <div class="card-body">
    <div class="day-type">Today</div>
    <app-story-card *ngFor="let i of [1, 2, 3]" [var1]="'var' +  i" />
  </div>
  <div class="card-footer">
    <div class="top-icons">
      <img class="plus-img" src="assets/img/plus.svg" alt="Plus">
      <div class="sticker-container">
        <img src="assets/img/sticker.svg" alt="sticker">
      </div>
      <img class="plus-img" src="assets/img/camera.svg" alt="Camera">
      <img class="mic-img" src="assets/img/mic-24-regular.svg" alt="Mic">
    </div>
    <div class="bottom-line"></div>
  </div>
</div>
