$b-radius-full: 15px;
$b-radius-10: 10px;
$white: #fff;

:host {
  .mobile-card {
    background-image: url("../../../assets/img/pngwing.com.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 635px;
    aspect-ratio: 281 / 576;
  }

  .card {
    border: 0;
  }

  .card-header {
    margin: 8px 14px 0;
    padding: 12px 20px 2px;
    height: 75px;
    border-bottom: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-icons {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
    }

    .bottom-content {
      display: flex;
      align-items: center;

      p {
        font-size: 13px;
      }
    }

    .image-contaner {
      width: 32px;
      height: 32px;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 14px 8px;
    padding: 2px 6px 10px;
    height: 55px;
    border-top: 0;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;

    .top-icons {
      display: flex;

      .plus-img {
        margin-right: 10px;
        width: 16px;
      }

      .mic-img {
        width: 11px;
      }
    }

    .sticker-container {
      width: 68%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: $white;
      border-radius: $b-radius-full;
      border: 1px solid #dcdcdc;
      margin: 0 10px 0 0;
      padding: 3px 8px;

      img {
        width: 12px;
      }
    }

    .bottom-line {
      width: 40%;
      background: black;
      border: 2px solid;
      border-radius: $b-radius-full;
      align-self: center;
    }
  }

  .card-body {
    background-image: url("../../../assets/img/whats-app.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 16px;
    padding-left: 20px;
    padding-right: 0;

    .day-type {
      font-weight: bold;
      font-size: 10px;
      background: #f9f9ef;
      width: fit-content;
      margin: auto;
      padding: 1px 16px;
      border-radius: $b-radius-full;
      box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
    }

    .main-content {
      background-color: $white;
      width: 82%;
      margin-top: 16px;
      box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
      border-radius: $b-radius-10;
      position: relative;

      p,
      a,
      button {
        font-size: 14px;

        span {
          font-size: 12px;
        }
      }

      .preview-container {
        padding: 8px;

        img {
          max-width: 100%;
          border-radius: $b-radius-full;
        }
      }

      hr {
        border-width: 2px;
        margin: 4px;
        opacity: 0.1;
      }

      a,
      button {
        color: #34a6eb;
        border: none;

        i {
          font-size: 16px;
          margin-right: 8px;
        }
      }

      &::after {
        border: solid 10px transparent;
        border-left: solid 10px #fff;
        bottom: -3px;
        content: "";
        height: 0;
        left: -8px;
        position: absolute;
        transform: rotate(60deg);
        width: 0;
      }
    }
  }
}
