<div class="mobile-card card">
  <div class="card-header">
    <div class="top-icons">
      <span class="time-now fw-bold">{{ currentTime | date : "hh:mm" }}</span>
      <div class="right-icons">
        <img src="assets/img/group-685.svg" alt="tel" />
        <img class="mx-2" src="assets/img/wifi-alt.svg" alt="wifi" />
        <img src="assets/img/battery-full.svg" alt="Battery" />
      </div>
    </div>
    <div class="bottom-content">
      <div class="image-contaner">
        <img src="assets/img/group-3301.svg" alt="group-3301" />
      </div>
      <p class="mb-0">communicate</p>
    </div>
  </div>
  <div class="card-body">
    <div class="day-type">Today</div>
    <div class="main-content">
      <div class="preview-container">
        <img src="assets/img/placeholder.png" alt="placeholder">
      </div>
      <p class="mx-2 mb-0 pb-3">Hello {{var1}}, <br /> how are you doing</p>
      <p class="d-flex flex-column mx-2 mb-0 opacity-50">Thank you for your time. <span class="align-self-end mt-2">10:30</span></p>
      <hr>
      <a class="btn w-100 text-center" href="https://www.google.com" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-external-link-alt"></i>
        Visit our website
      </a>
      <hr>
      <a class="btn w-100 text-center" href="tel:+1234567890">
        <i class="fas fa-phone-alt"></i>
        Call us
      </a>
      <hr>
      <button class="btn w-100 text-center mb-1" (click)="handleClick()">
        <i class="fas fa-reply"></i>
        Done
      </button>
    </div>
  </div>
  <div class="card-footer">
    <div class="top-icons">
      <img class="plus-img" src="assets/img/plus.svg" alt="Plus">
      <div class="sticker-container">
        <img src="assets/img/sticker.svg" alt="sticker">
      </div>
      <img class="plus-img" src="assets/img/camera.svg" alt="Camera">
      <img class="mic-img" src="assets/img/mic-24-regular.svg" alt="Mic">
    </div>
    <div class="bottom-line"></div>
  </div>
</div>
